node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json